
  .estilo1{


    font-style: italic;
    font-size: 20px;
  }

  .imag{

    height= 200px;
    width: 200px;
    


  }

  #ej1{

    font-style: italic;


  }

  #try{

    font-weight: bold;
    font-size: 17px;

  }

